@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
  background: #000000;
}

@theme{
  --color-primary:#757F9A;
  --color-secondary:#2A6A99;
}

.git {
  @apply bg-gradient-to-r from-slate-500/90 to-gray-950/15;
}

.livedemo {
  @apply bg-gradient-to-r from-gray-500/55 to-blue-950;
}
